# Pandas Problem Set

In [3]:
import pandas as pd
from google.colab import files
import numpy as np
import matplotlib.pyplot as plt

### Dataset for tutorial and problem set:

    Pima Indian Heritage Diabetes

    Each person in the dataset is a female who is at least 21 years
    
  #### Below are the variables for each person in the dataset
      'preg': number of pregnancies  
      'plas': plasma glucose concentration 
      'pres': blood pressure 
      'skin': skin thickness
      'test': Insluin
      'mass': BMI
      'pedi': diabetes pedigree function
      'age': age
      'class': '0' means does not have diabetes and '1' means has diabetes

In [4]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [26]:
# your code here
data = pd.read_csv(url, names=names)

Print out the age and class of the 100th patient

In [15]:
# your code here
data.loc[99:99, 'age':'class']

    age  class
99   31      1

Write code to figure out how many people are classified as not having diabetes, class is 1

In [34]:
# your code here

data_class_boolean = data[(data['class'] == 1)]

print(len(data_class_boolean))

268

Write code to figure out how many people are classified as having diabetes, class is 0

In [35]:
# your code here
data_class_boolean2 = data[(data['class'] == 0)]

print(len(data_class_boolean2))

500

What percent of people have diabetes in the study

In [47]:
# your code here
print(str(((len(data_class_boolean2)/len(data))*100)) + "%")

65.10416666666666%

Print out the pressure and class (no other columns) for the first 5 people

hint: this was not shown in our tutorial google how to select multiple columns with loc

Being able to effectively google is a very important coding tool

In [50]:
# your code here
data.loc[0:4, ['pres','class']]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [43]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [54]:
# your code here
mean = data['plas'].mean()
print(mean)

120.89453125

Create a new dataframe with only people that are above the mean found above

In [57]:
# your code here
newdata = data[(data['plas']) > mean]
newdata

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
11     10   168    74     0     0  38.0  0.537   34      1
12     10   139    80     0     0  27.1  1.441   57      0
13      1   189    60    23   846  30.1  0.398   59      1
14      5   166    72    19   175  25.8  0.587   51      1
20      3   126    88    41   235  39.3  0.704   27      0
22      7   196    90     0     0  39.8  0.451   41      1
24     11   143    94    33   146  36.6  0.254   51      1
25     10   125    70    26   115  31.1  0.205   41      1
26      7   147    76     0     0  39.4  0.257   43      1
28     13   145    82    19   110  22.2  0.245   57      0
31      3   158    76    36   245  31.6  0.851   28      1
34     10   122    78    31     0  27.6  0.512   45      0
36     11   138    76     0     0  33.2  0.420   35      0
40      3   180    64    25    70  34.0  0.271   26      0
41      7   133    84     0     0  40.2  0.696   37      0
43      9   171   110    24   240  45.4  0.721   54      1
44      7   159    64     0     0  27.4  0.294   40      0
45      0   180    66    39     0  42.0  1.893   25      1
46      1   146    56     0     0  29.7  0.564   29      0
53      8   176    90    34   300  33.7  0.467   58      1
54      7   150    66    42   342  34.7  0.718   42      0
56      7   187    68    39   304  37.7  0.254   41      1
58      0   146    82     0     0  40.5  1.781   44      0
61      8   133    72     0     0  32.9  0.270   39      1
63      2   141    58    34   128  25.4  0.699   24      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
708     9   164    78     0     0  32.8  0.148   45      1
710     3   158    64    13   387  31.2  0.295   24      0
711     5   126    78    27    22  29.6  0.439   40      0
712    10   129    62    36     0  41.2  0.441   38      1
713     0   134    58    20   291  26.4  0.352   21      0
715     7   187    50    33   392  33.9  0.826   34      1
716     3   173    78    39   185  33.8  0.970   31      1
722     1   149    68    29   127  29.3  0.349   42      1
727     0   141    84    26     0  32.4  0.433   22      0
728     2   175    88     0     0  22.9  0.326   22      0
730     3   130    78    23    79  28.4  0.323   34      1
732     2   174    88    37   120  44.5  0.646   24      1
736     0   126    86    27   120  27.4  0.515   21      0
743     9   140    94     0     0  32.7  0.734   45      1
744    13   153    88    37   140  40.6  1.174   39      0
746     1   147    94    41     0  49.3  0.358   27      1
748     3   187    70    22   200  36.4  0.408   36      1
749     6   162    62     0     0  24.3  0.178   50      1
750     4   136    70     0     0  31.2  1.182   22      1
751     1   121    78    39    74  39.0  0.261   28      0
753     0   181    88    44   510  43.3  0.222   26      1
754     8   154    78    32     0  32.4  0.443   45      1
755     1   128    88    39   110  36.5  1.057   37      1
756     7   137    90    41     0  32.0  0.391   39      0
757     0   123    72     0     0  36.3  0.258   52      1
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

What percent of the new dataframe have diabetes

In [59]:
# your code here

diabetes_pos = newdata[(newdata['class'])==0]

print(str(((len(diabetes_pos)/len(newdata))*100)) + "%")

44.126074498567334%

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [62]:
# write code here

data_above_means = data[(data['preg']> data['preg'].mean())& (data['plas']> data['plas'].mean())&(data['pres']> data['pres'].mean())&(data['skin']> data['skin'].mean())&(data['test']> data['test'].mean())& (data['mass']> data['mass'].mean())&(data['pedi']> data['pedi'].mean())& (data['age']> data['age'].mean())].head

Using what you have learned (and google) explore the data. Discuss what you find with people around you or the instructors

In [64]:
data_above_means

<bound method NDFrame.head of      preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1
215    12   151    70    40   271  41.8  0.742   38      1
236     7   181    84    21   192  35.9  0.586   51      1
259    11   155    76    28   150  33.3  1.353   51      1
286     5   155    84    44   545  38.7  0.619   34      0
375    12   140    82    43   325  39.2  0.528   58      1
424     8   151    78    32   210  42.9  0.516   36      1
458    10   148    84    48   237  37.6  1.001   51      1
546     5   187    76    27   207  43.6  1.034   53      1
594     6   123    72    45   230  33.6  0.733   34      0
603     7   150    78    29   126  35.2  0.692   54      1
612     7   168    88    42   321  38.2  0.787   40      1
614    11   138    74    26   144  36.1  0.557   50      1
663     9   145    80    46   130  37.9  0.637   40      1
744    13   153    88    37   140  40.6  1.174   39      0>

In [70]:
print(len(data_above_means))

TypeError: ignored

In [0]:
pr